<div class='row'> 
  <h3 class='admin-title'>Change password</h3>

  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'password-change-form', method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <%= f.submit "Update", class: 'btn btn-success' %>

  <% end %>

  <h3 class='admin-title'>Cancel my account</h3>

  <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
</div>
